---
import { LiaDotCircle } from "react-icons/lia";
const { title, text } = Astro.props;
---

<div class="flex flex-col items-center text-white my-[10%]">
  <div class="flex items-center text-[4.5vw] md:text-[2.5vw] mb-[3%]">
    <LiaDotCircle className=" mr-[1vw] pt-[0.5%]" />
    <p
      class="text-transparent bg-clip-text bg-gradient-to-b from-white via-white to-ieee-black"
    >
      {title}
    </p>
  </div>

  <p class="w-[70%] md:text-[1.4vw] text-[2vw] font-light">
    {text}
  </p>
</div>
