---
const { title } = Astro.props;
import { LiaDotCircle } from "react-icons/lia";
---

<div class="flex items-center md:text-[2.5vw] text-[4vw] mb-[5%]">
  <LiaDotCircle className=" mr-[1vw] pt-[0.5%]" />
  <p>
    {title}
  </p>
</div>
