---
import DashboardLayout from "../../../components/dashboard/shared/DashboardLayout.tsx";
import DashboardHead from "../../../components/dashboard/shared/DashboardHead.astro";
import FundDepositsContent from "../../../components/dashboard/pages/fund-deposits/FundDepositsContent.tsx";
import { NAVIGATION_PATHS } from "../../../components/dashboard/shared/types/navigation";

const title = "Fund Deposits - Dashboard";
const currentPath = NAVIGATION_PATHS.FUND_DEPOSITS;
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <DashboardLayout currentPath={currentPath} client:load>
      <FundDepositsContent client:load />
    </DashboardLayout>
  </body>
</html>
