---
import { Image } from "astro:assets";
import Link from "next/link";
import whiteLogoHorizontal from "../../images/logos/white_logo_horizontal.svg";
import { IoHeart } from "react-icons/io5";
---

<div class="w-full md:py-[2%] py-[3vw] flex justify-center">
    <div
        class="w-[95%] bg-black/40 md:py-[1%] py-[2vw] px-[1.5%] rounded-[2vw] border-[0.1vw] flex justify-between"
    >
        <Link href="/" className="hover:opacity-70 duration-300">
            <Image
                class="md:w-[15vw] w-[35vw]"
                src={whiteLogoHorizontal}
                alt="IEEE UCSD Logo"
            />
        </Link>
        <div class="flex items-center">
            <p class="text-white md:text-[1.2vw] text-[2.7vw]">
                made by IEEE UCSD webmasters with
            </p>
            <IoHeart className=" text-ieee-blue-100 ml-[1vw] md:text-[1.5vw] text-[4vw]" />
        </div>
    </div>
</div>
