CALENDAR_API_KEY=
EVENT_CALENDAR_ID=
CONVEX_SELF_HOSTED_URL=
PUBLIC_GOOGLE_CALENDAR_ID=
FROM_EMAIL=EXAMPLE <noreply@example.com>
MXROUTE_EMAIL_DOMAIN=example.com
MXROUTE_EMAIL_OUTBOUND_LIMIT=9600
MXROUTE_EMAIL_QUOTA=200
MXROUTE_LOGIN_KEY=
MXROUTE_SERVER_LOGIN=
MXROUTE_SERVER_URL=https://heracles.mxrouting.net:2222/CMD_ACCOUNT_USER?json=yes
REPLY_TO_EMAIL=example@example.com
RESEND_API_KEY=

GOOGLE_ADMIN_EMAIL=example@example.com
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY="Some Private Key"
PUBLIC_FIREBASE_PROJECT_ID=
PUBLIC_FIREBASE_AUTH_DOMAIN=example.firebaseapp.com
PUBLIC_FIREBASE_STORAGE_BUCKET=example.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URL=
FIREBASE_TOKEN_URL=
FIREBASE_AUTH_CERT_URL=
FIREBASE_CLIENT_CERT_URL=
PUBLIC_FIREBASE_WEB_API_KEY=

OPENROUTER_API_KEY=
