---
import DashboardHead from "../../components/dashboard/shared/DashboardHead.astro";
import createDashboardPage from "../../components/dashboard/shared/wrappers/createDashboardPage.tsx";
import OfficerLeaderboardContent from "../../components/dashboard/pages/officer-leaderboard/OfficerLeaderboardContent.tsx";
import NAVIGATION_PATHS from "../../components/dashboard/shared/types/navigation.ts";

const title = "Officer Leaderboard - Dashboard";
const currentPath = NAVIGATION_PATHS.OFFICER_LEADERBOARD;
const OfficerLeaderboardPage = createDashboardPage(
  OfficerLeaderboardContent,
  currentPath,
);
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <OfficerLeaderboardPage client:only="react" />
  </body>
</html>
