---
import { LiaDotCircle } from "react-icons/lia";
import { Image } from "astro:assets";
import ng from "./../../images/logos/Northrop_Grumman_Logo.png";
import solidworks from "./../../images/logos/SolidWorks_logo.png";
import altium from "./../../images/logos/Altium_Logo.png";
import rivian from "./../../images/logos/Rivian_Logo.png";
---

<div class="flex flex-col items-center text-white my-[5%]">
  <div class="flex items-center text-[4.5vw] md:text-[2.5vw] mb-[3%]">
    <LiaDotCircle className=" mr-[1vw] pt-[0.5%]" />
    <p
      class="text-transparent bg-clip-text bg-gradient-to-b from-white via-white to-ieee-black"
    >
      Meet Our Sponsors
    </p>
  </div>
  <div class="flex items-center pl-[2vw] gap-[0.5vw]">
      <Image src={ng} alt="Northrop Logo" class="w-[17vw] object-contain"/>
      <Image src={altium} alt="Altium Logo" class="w-[17vw] object-contain"/>
      <Image src={solidworks} alt="Solidworks Logo" class="w-[17vw] object-contain"/>
      <Image src={rivian} class="object-scale-down" alt="Rivian Logo" class="w-[17vw] h-[10vw] ml-[1.8vw] object-contain"/>
  </div>
</div>
