---
import createDashboardPage from '../../components/dashboard/shared/wrappers/createDashboardPage.tsx';
import DashboardHead from '../../components/dashboard/shared/DashboardHead.astro';
import ManageUsersContent from '../../components/dashboard/pages/manage-users/ManageUsersContent.tsx';
import NAVIGATION_PATHS from "../../components/dashboard/shared/types/navigation.ts";

const title = "Manage Users - Dashboard";
const currentPath = NAVIGATION_PATHS.MANAGE_USERS;
const ManageUsersPage = createDashboardPage(ManageUsersContent, currentPath);
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <ManageUsersPage client:only="react" />
  </body>
</html>
