---
import { LiaDotCircle } from "react-icons/lia";
---

<section class="flex items-center justify-start h-[15vw] px-[7vw] space-x-[1vw]">
  <LiaDotCircle className="text-[2.5vw] text-white" />
  <div class="flex-col">
    <h1 class="text-[55px] md:text-[2.5vw] font-bold text-ieee-yellow leading-none">
      UCSD
    </h1>
    <h2 class="text-[55px] md:text-[2.5vw] font-semibold text-white leading-none">
      Supercomputing
    </h2>
  </div>
</section>