---
import OAH from "./OAH.astro";
import BuildingLocation from "./BuildingLocation.astro";
---

<div class="w-full flex flex-col md:flex-row items-center md:justify-evenly px-[10%]">
    <OAH />
    <BuildingLocation />
</div>
