---
import Question from "./Question.astro";
const { faq } = Astro.props;
---

<div class="text-white w-full h-[90vh] ml-[9vw] mb-[20%] mt-[10%]">
  <div class="text-[2.5vw] flex items-center my-[7vh]">
    <div class="mr-[1vw]">
      <span class="text-ieee-yellow">●</span>
    </div>
    <p>Frequently Asked Questions</p>
  </div>
  <div class="w-full ml-[10vw]">
    {
      faq.map((question: any) => (
        <Question question={question.question} answer={question.answer} />
      ))
    }
  </div>
</div>
