---
import createDashboardPage from "../../components/dashboard/shared/wrappers/createDashboardPage.tsx";
import DashboardHead from "../../components/dashboard/shared/DashboardHead.astro";
import LeaderboardContent from "../../components/dashboard/pages/leaderboard/LeaderboardContent.tsx";
import NAVIGATION_PATHS from "../../components/dashboard/shared/types/navigation.ts";

const title = "Leaderboard - Dashboard";
const currentPath = NAVIGATION_PATHS.LEADERBOARD;
const LeaderboardPage = createDashboardPage(LeaderboardContent, currentPath);
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <LeaderboardPage client:only="react" />
  </body>
</html>
