---
import DashboardHead from '../../components/dashboard/shared/DashboardHead.astro';
import OverviewPage from '../../components/dashboard/pages/overview/OverviewPage.tsx';

const title = 'Overview - Dashboard';
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <OverviewPage client:only="react" />
  </body>
</html>
