---
import Link from "next/link";
import { LiaDotCircle } from "react-icons/lia";
---

<div
  class="md:pt-[5vw] pt-[10vw] text-white w-full flex justify-center md:mb-[8vw] mb-[15vw]"
>
  <div class="w-3/4 md:h-[25vw] h-[35vw] flex justify-between flex-col">
    <div class="flex items-center md:text-[3vw] text-[4.5vw] pl-[5%] pt-[5%]">
      <LiaDotCircle className=" mr-[1vw] pt-[0.5%]" />
      <p>Contact Us</p>
    </div>
    <p class="md:text-[1.25vw] text-[2vw]">
      The <a
        class="text-ieee-yellow underline"
        href="https://maps.app.goo.gl/y4RwNCkoKBEHGHsv6"
        target="_blank">IEEE Project Space</a
      > is an open-access, collaborative space located at EBU1-4710. Students can
      do homework or get access to basic electronic tools such as soldering stations,
      breadboard components, and Arduino and Raspberry PI parts!
    </p>
    <div class="flex justify-end">
      <Link
        data-inview
        href="https://maps.app.goo.gl/y4RwNCkoKBEHGHsv6"
        target="_blank"
        className="in-view:animate-jump-in border-white/70 border-[0.1vw] py-[1%] px-[8%] rounded-[0.7vw] hover:text-ieee-yellow hover:border-ieee-yellow duration-300 md:text-[1.2vw] text-[2vw]"
      >
        DISCORD
      </Link>
    </div>
  </div>
</div>
