<div class="flex py-[25vw] md:py-[8vw] px-[7vw] items-end w-full">
  <div class="w-2/5">
    <p
      data-inview
      class="animate-ease-in-out text-ieee-yellow text-[7vw] md:text-[4.5vw] font-semibold in-view:animate-fade-right"
    >
      02
    </p>
    <p
      data-inview
      class="text-white text-[3.5vw] md:text-[2.5vw] font-light in-view:animate-fade-right animate-delay-100"
    >
      2nd Largest in the US?
    </p>
  </div>
  <p
    data-inview
    class="animate-ease-in-out text-white text-[2vw] md:text-[1.3vw] in-view:animate-fade-left w-3/5 font-light"
  >
    The community of engineers at IEEE @ UCSD has consistently been one of the
    largest in the country. In 2021 and 2022, we won the 2nd Largest Student
    Branch Award in the US and we strive to win it again in the coming year.
  </p>
</div>
