---
import DashboardHead from "../components/dashboard/shared/DashboardHead.astro";
import createDashboardPage from "../components/dashboard/shared/wrappers/createDashboardPage.tsx";
import EmailTestingContent from "../components/dashboard/pages/email-testing/EmailTestingContent.tsx";

const title = "Email Testing - Dashboard";
const currentPath = "/email-testing";
const EmailTestingPage = createDashboardPage(EmailTestingContent, currentPath);
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <EmailTestingPage client:only="react" />
  </body>
</html>
