---
import Layout from "../layouts/Layout.astro";
import Social from "../components/core/Social.astro";
import Findus from "../components/join/Findus.astro";
import FindTitle from "../components/find/FindTitle.astro";
import { Image } from "astro:assets";
import event from "../images/event.webp";
import contactbroder from "../images/contactbroder.webp";

const seoProps = {
  title: "Find Us - IEEE at UC San Diego",
  description:
    "Visit the IEEE Project Space at EBU1-4710 or contact us at ieee@ucsd.edu. Connect with us on social media and discover our open-access collaborative workspace with electronics tools and resources.",
  keywords: [
    "IEEE UCSD location",
    "contact IEEE UCSD",
    "project space",
    "EBU1-4710",
    "ieee@ucsd.edu",
    "UCSD engineering space",
  ],
  image: "/logos/blue_logo_only.png",
};
---

<Layout {...seoProps}>
  <Image
    src={contactbroder}
    alt="JOIN US"
    class="absolute left-[1vw] md:w-[4vw] w-[5vw] md:top-[60vh] top-[70vw] -z-10"
  />
  <Image
    src={contactbroder}
    alt="JOIN US"
    class="absolute right-[1vw] md:w-[4vw] w-[5vw] md:top-[60vh] top-[70vw] -z-10"
  />
  <FindTitle />
  <div class="w-full flex justify-center">
    <div class="skeleton w-3/4 rounded-full">
      <Image src={event} alt="board group photos" class="w-full rounded-full" />
    </div>
  </div>

  <Findus />
  <Social />
</Layout>
