---
import createDashboardPage from "../../components/dashboard/shared/wrappers/createDashboardPage.tsx";
import DashboardHead from "../../components/dashboard/shared/DashboardHead.astro";
import ManageFundRequestsContent from "../../components/dashboard/pages/manage-fund-requests/ManageFundRequestsContent.tsx";
import NAVIGATION_PATHS from "../../components/dashboard/shared/types/navigation.ts";

const title = "Manage Fund Requests - Dashboard";
const currentPath = NAVIGATION_PATHS.MANAGE_FUND_REQUESTS;
const ManageFundRequestsPage = createDashboardPage(
  ManageFundRequestsContent,
  currentPath,
);
---

<!doctype html>
<html lang="en">
    <head>
        <DashboardHead title={title} />
    </head>
    <body>
        <ManageFundRequestsPage client:only="react" />
    </body>
</html>
