---
import ClientDashboardLayout from "../../components/dashboard/shared/wrappers/ClientDashboardLayout.tsx";
import DashboardHead from "../../components/dashboard/shared/DashboardHead.astro";
import LeaderboardContent from "../../components/dashboard/pages/leaderboard/LeaderboardContent.tsx";
import { NAVIGATION_PATHS } from "../../components/dashboard/shared/types/navigation";

const title = "Leaderboard - Dashboard";
const currentPath = NAVIGATION_PATHS.LEADERBOARD;
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <ClientDashboardLayout currentPath={currentPath} client:load>
      <LeaderboardContent client:load />
    </ClientDashboardLayout>
  </body>
</html>
