---
import { Image } from "astro:assets";
import mentorship from "../../images/mentorship.webp";
import join from "../../images/join.png";
---

<div class="flex justify-center mb-[10%]">
  <div class="flex md:w-[70%] w-[80%] items-center">
    <div class="w-1/2 flex justify-center h-full relative">
      <Image src={mentorship} alt="blue background" class="mr-[20%]" />
      <Image
        src={join}
        alt="blue background"
        class="absolute rounded-full object-cover aspect-[262/433] w-[54%] md:top-[5%] top-[9%] left-0 opacity-80"
      />
    </div>
    <div class="w-1/2 font-light md:text-[1.2vw] text-[1.6vw]">
      <div class="flex items-center md:text-[2.3vw] text-[4vw] mb-[5%]">
        <div class="mr-[1vw] pt-[0.5%]">
          <span class="text-ieee-yellow">●</span>
        </div>
        <p
          class="md:text-[2.3vw] text-[4vw] font-bold text-transparent bg-clip-text bg-gradient-to-r from-white to-ieee-yellow"
        >
          How to join
        </p>
      </div>
      <p class="my-[10%]">
        We will create a QP Application every quarter and send it out to
        prospective participants via the IEEE discord or Instagram page.
      </p>
      <p class="mb-[12%]">
        URL to Drive Folder with every school year’s QP Application forms (3 per
        school year):
      </p>
      <div class="w-full flex justify-center">
        <a
          href="https://forms.gle/QNxqwCkFCPPsxtAq8"
          target="_blank"
          class="py-[2%] px-[15%] md:text-[1.2vw] text-[1.6vw] border-[0.1vw] border-white rounded-[0.5vw] hover:text-ieee-yellow hover:border-ieee-yellow duration-300 font-light"
        >
          JOIN
        </a>
      </div>
    </div>
  </div>
</div>
