---
import createDashboardPage from "../../components/dashboard/shared/wrappers/createDashboardPage.tsx";
import DashboardHead from "../../components/dashboard/shared/DashboardHead.astro";
import OnboardingContent from "../../components/dashboard/pages/onboarding/OnboardingContent.tsx";
import NAVIGATION_PATHS from "../../components/dashboard/shared/types/navigation.ts";

const title = "Onboarding - Dashboard";
const currentPath = NAVIGATION_PATHS.ONBOARDING;
const OnboardingPage = createDashboardPage(OnboardingContent, currentPath);
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <OnboardingPage client:only="react" />
  </body>
</html>
