---
import Layout from "../../layouts/Layout.astro";
import Contacts from "../../components/signal/Contacts.astro";
import About from "../../components/core/About.astro";
import Title from "../../components/core/Title.astro";
import Competition from "../../components/signal/Competition.astro";

const seoProps = {
  title: "Signal Processing - IEEE at UC San Diego",
  description:
    "Join UCSD's newest IEEE branch focused on signal processing. Compete in the IEEE Signal Processing Cup and work on cutting-edge signal processing projects.",
  keywords: [
    "signal processing",
    "IEEE Signal Processing Cup",
    "UCSD signal processing",
    "signal processing competition",
    "DSP projects",
  ],
  image: "/signal.webp",
};
---

<Layout {...seoProps}>
  <p class="text-ieee-yellow text-[1.2vw] absolute top-[27.5vh] left-[15.5vw]">
    COMING SOON (New UCSD IEEE branch)
  </p>
  <Title title="Signal Processing" />
  <About
    title="What is Signal Processing"
    text="Currently, we are focusing on the IEEE Signal Processing Cup (an annual signal processing competition). However, we might do projects in the future."
  />
  <Competition
    picture="/signal.webp"
    name="IEEE Signal Processing Cup"
    link="https://www.google.com/"
    linktext="Link"
  />
  <Contacts />
</Layout>
