---
import DashboardHead from "../../../components/dashboard/shared/DashboardHead.astro";
import GetStartedContent from "../../../components/dashboard/pages/get-started/GetStartedContent.tsx";

const title = "Get Started - IEEE UCSD";
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <GetStartedContent client:load />
  </body>
</html>
