---

---

<div
    data-inview
    class="flex flex-col items-center md:w-[40vw] w-[100vw] h-[100vw] md:h-[40vw] my-[10%] in-view:animate-fade-down"
>
    <p class="text-ieee-yellow md:text-[1.2vw] text-[2.5vw]">Find us at the Jacobs Engineering Building!</p>
    <p class="text-white md:text-[2.5vw] text-[4.5vw] my-[2%]">Check out this map!</p>
    <iframe
        class="w-[90%] rounded-[1.5vw]"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.627565860723!2d-117.23806952372503!3d32.881572078634505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc06c3689b4f99%3A0xdf55f97f07f34d4f!2sIrwin%20%26%20Joan%20Jacobs%20School%20of%20Engineering!5e0!3m2!1sen!2sus!4v1736755644414!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
