---

---

<div
    data-inview
    class="flex flex-col items-center md:w-[40vw] w-[100vw] h-[100vw] md:h-[40vw] my-[10%] in-view:animate-fade-down"
>
    <p class="text-ieee-yellow md:text-[1.2vw] text-[2.5vw]">Each officer has their own OAH</p>
    <p class="text-white md:text-[2.5vw] text-[4.5vw] my-[2%]">Check out our calendar!</p>
    <iframe
        class="w-[90%] rounded-[1.5vw]"
        src="https://calendar.google.com/calendar/embed?src=c_386c2eeca82d8373c803ea11c5b4ed210b3817005c169c99aa6bd93775444176%40group.calendar.google.com&ctz=America%2FLos_Angeles"
        style="border: 0"
        width="600"
        height="450"
        frameborder="0"
        scrolling="no"></iframe>
</div>
