---
import ClientDashboardLayout from "../../../components/dashboard/shared/wrappers/ClientDashboardLayout.tsx";
import DashboardHead from "../../../components/dashboard/shared/DashboardHead.astro";
import SlackAccessContent from "../../../components/dashboard/pages/slack-access/SlackAccessContent.tsx";
import { NAVIGATION_PATHS } from "../../../components/dashboard/shared/types/navigation";

const title = "Slack Access - Dashboard";
const currentPath = NAVIGATION_PATHS.SLACK_ACCESS;
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <ClientDashboardLayout currentPath={currentPath} client:load>
      <SlackAccessContent client:load />
    </ClientDashboardLayout>
  </body>
</html>
