---
import DashboardLayout from "../../../components/dashboard/shared/DashboardLayout.tsx";
import DashboardHead from "../../../components/dashboard/shared/DashboardHead.astro";
import ManageUsersContent from "../../../components/dashboard/pages/manage-users/ManageUsersContent.tsx";
import { NAVIGATION_PATHS } from "../../../components/dashboard/shared/types/navigation";

const title = "Manage Users - Dashboard";
const currentPath = NAVIGATION_PATHS.MANAGE_USERS;
---

<!doctype html>
<html lang="en">
  <head>
    <DashboardHead title={title} />
  </head>
  <body>
    <DashboardLayout currentPath={currentPath} client:load>
      <ManageUsersContent client:load />
    </DashboardLayout>
  </body>
</html>
